<div class="container">
  <h1>Add new product</h1>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="ngProductForm" (ngSubmit)="addProduct()">
        <div class="mb-3">
          <label for="name" class="form-label">Product Name</label>
          <input type="text" class="form-control" placeholder="Enter Product Name" formControlName="Name" />
          <span class="text-danger" *ngIf="ngProductForm.get('Name')?.touched && ngProductForm.get('Name')?.errors?.['required']">
            Please Enter Product Name!
          </span>
        </div>

        <div class="mb-3">
          <label for="type" class="form-label">Product Type</label>
          <select formControlName="Type" class="form-control">
            <option *ngFor="let item of productType" [value]="item.ProductId">
              {{item.title}}
            </option>
          </select>
          <span class="text-danger"
                *ngIf="ngProductForm.get('Type')?.touched && !ngProductForm.get('Type')?.valid">
            Please Select Product Type!
          </span>
        </div>
        <div class="mb-3">
          <label for="color" class="form-label">Color</label>
          <input type="text" class="form-control" placeholder="Enter color" formControlName="Color" />
          <span class="text-danger" *ngIf="ngProductForm.get('Color')?.touched && ngProductForm.get('Color')?.errors?.['required']">
            Please Enter color!
          </span>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control"placeholder="Enter price" formControlName="Price" />
          <span class="text-danger" *ngIf="ngProductForm.get('Price')?.touched && ngProductForm.get('Price')?.errors?.['required']">
            Please Enter price!
          </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!ngProductForm.valid">Save</button>
      </form>
    </div>
  </div>
</div>
